input[type=text]{
color:white;
background-color:black;
border-radius: 25px;
border: 1px solid #ccc;
text-align: center;
min-height: 34px; 
}
input[type=numbe]{
color:white;
background-color:black;
border-radius: 25px;
border: 1px solid #ccc;
text-align: center;
min-height: 34px; 
width:365px;

}
.row
{
margin-top:20px;

}
textarea {
background-color:black;
border-radius: 20px;
color:white;
}
.col-md-4{
background-color:black
height:400px;

}
select{
color:white;
background-color:black;
border-radius: 25px;
border: 1px solid #ccc;
text-align: center;
min-height: 34px;
width:365px;
}
.part2{
 background: url('form1.jpg') repeat center center fixed;
  background-size: cover;
 
}
input[type=submit]{
border-radius: 10px;
background-color:green;
margin-top:5;
width:165px;
min-height: 34px;

}
